<!-- javascript -->
<script type="text/javascript">
    $(document).ready(function() {
        var data_id = '';
        $("#dialog-confirm").hide();
        $("#dialog-confirm").dialog({
            autoOpen: false,
            draggable: false,
            height: 150,
            width: 300,
            resizable: false,
            modal: true,
            buttons: {
                "Delete": function() {
                    $.ajax({
                        type: "POST",
                        url: "{$config->site_url('masterdata/projectcategories/delete/')}",
                        data: 'id=' + data_id,
                        cache: false,
                        success: function(data) {
                            if (data) {
                                alert("Data berhasil dihapus!");
                                window.location.reload();
                            }
                        }
                    })
                    $(this).dialog("close");
                },
                Cancel: function() {
                    $(this).dialog("close");
                }}
        });
        $(".del").click(function() {
            data_id = $(this).attr("href");
            $("#dialog-confirm").dialog("open");
        });
    })
</script>
<div id="dialog-confirm" title="Delete the data?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
<div class="head-content">
    <h3>Project Categories</h3>
    <div class="head-content-nav">
        <ul>
            <!--<li><a href="{$config->site_url('masterdata/projectcategories/add')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>-->
            <li><a href="#" class="active">List Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="5%">No</th>
        <th width="20%">Page Name</th>
        <th width="60%">Page Desc</th>
        <th width="15%"></th>
    </tr>
    {foreach from=$rs_id key=no item=result}
    <tr {if ($no % 2) <> 0}class="blink-row"{/if}>
        <td align='center'>{$no + 1}.</td>
        <td>{$result.cat_name}</td>
        <td>{$result.cat_description}</td>
        <td align="center">
            <a href="{$config->site_url({'masterdata/projectcategories/update/'|cat:$result.cat_id})}" class="button-edit">Update</a>
            <!--<a onclick="return false" href="{$result.cat_id}" class="button-hapus del">Delete</a>-->
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="4">Empty</td>
    </tr>
    {/foreach}
</table>