<div class="useimage" id="before-content">
    <div class="line-shadow"></div>
    <img alt="" src="{$BASEURL}resource/doc/images/page-header2.png">    
    <div class="title-and-desc ">
        <h1 class="pagetitle">About Us</h1><div class="pagedesc"><span>Migunani lan mberkahi tumraping liyan <br />
                        (Helping and Blessing others)</span></div>    
    </div><!-- title and desc -->
</div>
<div id="content">
    <div id="main">
        <div class="positionleft" id="maincontent">
            <h2>Our Company</h2>
            <div class="imgframe alignleft"><img alt="" src="{$BASEURL}resource/doc/images/pf_1.png"></div>
            <p style='text-align: justify;'><span>CV Migunani & Mberkahi, hereafter the ‘Migunani’, is a Yogyakarta based knowledge organization focusing on knowledge works such as research and evaluation. The Migunani will provide an unparalleled team of evaluators with a track record of producing high impact evaluation/research outputs. </span></p>
            <p style='text-align: justify;'><span>Migunani, as a knowledge-focused organisation, engages in development through the use of the organisation’s key resource, its technical staff. The work is primarily about building human capital through and with people in participatory ways, for better knowledge-based development outcomes for families and communities. The primary mission of Migunani is to promote the use of evidence in program and policy development through building the skills, confidence and effectiveness of our local partners so that accessibility and quality of services they provide to communities can be improved. Migunani places emphasis on capacity building as a means to an end; that being the building of resilient and healthier communities. In line with this underpinning philosophy, the Migunani evaluation team will work in close partnership  based on mutual need and respect for the skills and expertise that each partner will bring to the programme.</span></p>
            <h4>Vision</h4>
            <blockquote>Legitimate knowledge sector and effective in improving the quality policy</blockquote>

            <h4>Corporate Strategy</h4>
            <blockquote>As part of the knowledge sector, Migunani’s  role is to produce knowledge through research activities and program  evaluation  of  government  policies  and  the donor institutions</blockquote>

            <h4>Policy Strategy</h4>
            <blockquote>Migunani focuses on research and evaluation of donor agencies and government policy (evaluating policy) on the areas of policy agenda (agenda setting) and policy drafting (legislation) which is conducted in the network with other agencies</blockquote>

            <h4>Focus Issues</h4>
            <blockquote>Migunani’s  subject  of  concern  is  basic  education  , disaster risk reduction , public health ,   community development, and gender equity</blockquote>
            
            <h4>The Position in Civil Society</h4>
            <blockquote>Migunani takes a role as knowledge producers , giving feedback to the agency that has expertise on advocacy network</blockquote>
            
            <h4>The Values</h4>
            <blockquote>We are committed to the importance of the evidence (evidence - based) policy making , the importance of providing the best quality (quality service ) , respecting the diversity of Indonesia ( pluralism ) , transformative , and a commitment to maintaining the integrity of both the space domestic and public</blockquote>

            <!-- end #contactform -->
            <div class="hr"></div>
            <div class="clear"></div><!-- clear float --> 
        </div>
        <div id="sidebar">
            <ul>
                <li class="widget-container latestpost">
                    <h2 class="widget-title">What People Say’s</h2>
                    <ul class="boxslideshow" style="position: relative; width: 208px; height: 140px;">
                        <li class="cycle" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 208px; height: 206px;">
                            <blockquote>
                                Versatile, balanced, objective, constructive, strong in methodology and analysis, efficient, punctual.
                            </blockquote>
                            <!--<div class="testi-name">John Doe</div>-->
                        </li>
<!--                        <li class="cycle" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 208px; height: 181px;">
                            <blockquote>
                                Morbi a sem eros, at varius neque. Curabitur fermentum, velit laoreet feugiat consequat, ligula lorem porttitor arcu, nec malesuada enim magna vitae ligula.
                            </blockquote>
                            <div class="testi-name">Smith</div>
                        </li>-->

                        <li class="cycle" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1; width: 208px; height: 206px;">
                            <blockquote>
                                Versatile, balanced, objective, constructive, strong in methodology and analysis, efficient, punctual.
                            </blockquote>
                            <!--<div class="testi-name">Lydia Kurt</div>-->
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clear"></div><!-- clear float --> 
        </div>
        <div class="clear"></div>
    </div>
</div>