<script type="text/javascript">
    $(document).ready(function() {
        $(".box_skitter_large").skitter({
            width_skitter: 340,
            height_skitter: 960,
            animation: "random",
            interval: 3000,
            numbers: false,
            numbers_align: "right",
            hideTools: true,
            controls: false,
            focus: false,
            focus_position: true,
            width_label: 'auto',
            enable_navigation_keys: true,
            progressbar: false
        });
    });
</script>
<div id="slider-image">
    <div class="box_skitter box_skitter_large">
        <ul style="display: none;">
            <li>
                <a href=""><img src="{$BASEURL}resource/doc/images/welcome-image.jpg" alt=""></a>
                <div class="label_text">
                    <span>Migunani lan mberkahi tumraping liyan <br />
                        (Helping and Blessing others)</span>
                </div>
            </li>
            <li>
                <a href=""><img src="{$BASEURL}resource/doc/images/welcome-image2.jpg" alt=""></a>
                <div class="label_text">
                    <span>Migunani lan mberkahi tumraping liyan <br />
                        (Helping and Blessing others)</span>
                </div>
            </li>
        </ul>
    </div>
    <div id="top-opacity-slider"></div>
</div>
<div id="content">
    <div id="main">
        <div class="positionleft" id="maincontent">
            <h3>Welcome to Our Company</h3>
            <p style='text-align: justify;'><span>Migunani is a non- profit company formally established in February 2011. It intends to produce knowledge to support quality policy development. The core staff members have been working together in research and data collection over the past seven years. Through its dedication to high-quality, objective research, and analysis, Migunani is engaged with its clients to create knowledge, options, and solutions that will endure.  </span></p>
            <div class="hr"></div>
            <h3>About Us</h3>
            <p style='text-align: justify;'>
                <span>Migunani is located in Yogyakarta, Indonesia and currently employs a number of researchers with expertise in survey design and logistics using mobile phone (Magpi, ODK) and  computer programming.  A number of qualitative designs apply Nvivo for data editing and analysis.</span> 
            </p>
            <p style='text-align: justify;'>
                <span>Migunani has been collaborating with domestic and international researchers and has quality experience in conducting studies in Indonesia. Migunani encourages the participation of researchers with various backgrounds to facilitate inter- disciplinary research. Its core staff members have diverse backgrounds in the area of disaster management, public policy, health, education, gender, psychology, and economics.  </span>
            </p>
            <div class="hr"></div>
            <h3>What We Do</h3>
            <div class="image-home">
                <img alt="" src="{$BASEURL}resource/doc/images/index1.png">
                <div class="title" style="width: auto; display: block;">
                    <span>Monitoring & Evaluation Studies</span>
                </div>
            </div>
            <div class="image-home">
                <img alt="" src="{$BASEURL}resource/doc/images/index2.png">
                <div class="title" style="width: auto; display: block;">
                    <span>Monitoring & Evaluation Training</span>
                </div>
            </div>
            <div class="image-home">
                <img alt="" src="{$BASEURL}resource/doc/images/index3.png">
                <div class="title" style="width: auto; display: block;">
                    <span>Work on independent research</span>
                </div>
            </div>
            <div class="image-home">
                <img alt="" src="{$BASEURL}resource/doc/images/index4.png">
                <div class="title" style="width: auto; display: block;">
                    <span>Grants for Researchers</span>
                </div>
            </div>
            <!--                            <div class="one_half firstcols">
                                            <div class="imgframe alignleft" style="margin-left:20px;"><a href="#"><img alt="" src="../doc/images/index1.png"></a></div>
                                            <h4 class="titlecenter"><a href="#">Monitoring & Evaluation Studies</a></h4>
                                            <p><span class="textcenter">Mauris interdum imperdiet lorem vitae placerat. </span><br>
                                            </p></div>
                                        <div class="one_half lastcols">
                                            <div class="imgframe alignleft" style="margin-left:20px;"><a href="#"><img alt="" src="../doc/images/index2.png"></a></div>
                                            <h4 class="titlecenter"><a href="#">Monitoring & Evaluation Training</a></h4>
                                            <p><span class="textcenter">Mauris interdum imperdiet lorem vitae placerat. </span><br>
                                            </p>
                                        </div>
                                        <div class="one_half firstcols">
                                            <div class="imgframe alignleft" style="margin-left:20px;"><a href="#"><img alt="" src="../doc/images/index3.png"></a></div>
                                            <h4 class="titlecenter"><a href="#">Independent Research</a></h4>
                                            <p><span class="textcenter">Mauris interdum imperdiet lorem vitae placerat. </span><br>
                                            </p>
                                        </div>
                                        <div class="one_half lastcols">
                                            <div class="imgframe alignleft" style="margin-left:20px;"><a href="#"><img alt="" src="../doc/images/index4.png"></a></div>
                                            <h4 class="titlecenter"><a href="#">Grants for Researchers</a></h4>
                                            <p><span class="textcenter">Mauris interdum imperdiet lorem vitae placerat. </span><br>
                                            </p>
                                        </div>-->

            <div class="clear"></div><!-- clear float --> 
        </div>
        <div id="sidebar">
            <ul>
                <li class="widget-container client">
                    <h2 class="widget-title">Our Client</h2>
                    <p>
                        {foreach from=$rs_client item=client}
                        <a href='{$url_client}/{$client.client_name|default:""}'><img class="" src="{$BASEURL}resource/doc/images/client/{$client.client_logo}" alt="{$client.client_name}"/></a>
                        {/foreach}
                    </p>
                    <div class="clear"></div>
                </li>
                <li class="widget-container latestpost">
                    <h2 class="widget-title">Lastest Project</h2>
                    <ul class="latestpost">
                        {foreach from=$latest_project item=project}
                        <li>
                            <span class="post-date">{$project.start_date|date_format:'%d %B %Y'}</span>
                            <span class="post-title"><a href="{$url_project}/{$project.project_id|default:""}">{$project.project_title|default:''}</a></span>
                        </li>
                        {/foreach}
                    </ul>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>


