<div class="useimage" id="before-content">
    <div class="line-shadow"></div>
    <img alt="" src="{$BASEURL}resource/doc/images/page-header.png"> 
    <div class="title-and-desc ">
        <h1 class="pagetitle">Personel</h1><div class="pagedesc">Our Team   ?</div>    
    </div><!-- title and desc -->
</div>
<div id="content">
    <div id="main">
        <div class="full" id="maincontent">
            <h2>Our Team</h2>
            <p style='text-align: justify;'><span>Migunani has been collaborating with domestic and international researchers and has quality experience in conducting studies in Indonesia. Migunani encourages the participation of researchers with various backgrounds to facilitate inter- disciplinary research. Its core staff members have diverse backgrounds in the area of disaster management, public policy, health, education, gender, psychology, and economics.
                Our   staffing   plan   provides   Migunani  with   effective   leadership   and   an exceptionally qualified team of professionals who has successfully worked with numerous organizations on projects of equal and greater complexity. The Migunani team has deep experience in all required aspects of the proposed work. This section also includes brief paragraphs describing the relevant experience and  responsibilities  of  key  project  team  members.
                In addition to its permanent staff members, our vast network allow us to hires staff as the need arises and maintains close contact with them between engagements. Migunani has collaborated with numerous local and international researchers who conduct scientific research in Indonesia. The coverage is national both in urban and rural settings. 
                </span>
            </p>
            <div class="one_half">
                <strong>Dr. Kharisma Nugroho, Sociologist, M&E Associate Expert</strong>
            </div>
            <div class="one_half lastcols">
                <strong>I. Praptoraharjo, PhD, Health Anthropologist Associate Expert</strong>
            </div>

            <div class="one_half">
                <strong>Novina Suprobo, Msi, Educational and Disability Expert, Director of Migunani</strong>
            </div>
            <div class="one_half lastcols">
                <strong>Bekti Andari, MA, Gender Specialist</strong>
            </div>

            <div class="one_half">
                <strong>Rumenta Sihombing, MSi, Qualitative Expert</strong>
            </div>
            <div class="one_half lastcols">
                <strong>Setyawan J Kridanta, DRR Expert and Training Specialist</strong>
            </div>

            <div class="one_half">
                <strong>Kwan Men Yon, Economist and Media Specialist</strong>
            </div>
            <div class="one_half lastcols">
                <strong>Kuriake  Kharismawan,  PhD  (candidate),  Education  and  Psychosocial expert</strong>
            </div>

            <div class="one_half">
                <strong>Bjorn Kluver, Disaster Risk Reduction Specialist</strong>
            </div>
            <div class="one_half lastcols">
                <strong>Agustina Flores,  Disaster Risk Reduction Specialist</strong>
            </div>


            <div class="one_half">
                <strong>Kharisma Sinung Prasetyo, Quantitative Survey and qualitative data analysis specialist</strong>
            </div>

        </div>
        <div class="clear"></div>
    </div>
</div>
