<!--Project-->
<script type="text/javascript">
    $(document).ready(function() {
        $("ul.sf-menu").supersubs({
            minWidth: 13,
            maxWidth: 14,
            extraWidth: 1
        }).superfish();
        $(".toggle_container").hide();
        $("h2.trigger").click(function() {
            $(this).toggleClass("active").next().slideToggle("slow");
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#submit_btn").click(function()
        {
            $("#category").submit(function(e)
            {
                $("#toggle").html("<img src='{$BASEURL}resource/image/loading.gif'/>");
                var postData = $(this).serializeArray();
                var formURL = 'ajax_category';
                $.ajax(
                        {
                            url: formURL,
                            type: "POST",
                            data: postData,
                            success: function(data, textStatus, jqXHR)
                            {
                                $("#toggle").html(data);
                                $("ul.sf-menu").supersubs({
                                    minWidth: 13, // minimum width of sub-menus in em units
                                    maxWidth: 14, // maximum width of sub-menus in em units
                                    extraWidth: 1     // extra width can ensure lines don't sometimes turn over
                                            // due to slight rounding differences and font-family
                                }).superfish();  // call supersubs first, then superfish, so that subs are
                                // not display:none when measuring. Call before initialising
                                // containing tabs for same reason.

                                $(".toggle_container").hide();
                                $("h2.trigger").click(function() {
                                    $(this).toggleClass("active").next().slideToggle("slow");
                                });
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                $("#toggle").html('<pre><code class="prettyprint">AJAX Request Failed<br/> textStatus=' + textStatus + ', errorThrown=' + errorThrown + '</code></pre>');
                            }
                        });
                e.preventDefault();	//STOP default action
            });

            $("#category").submit(); //SUBMIT FORM
        });
    });
</script>
<div class="useimage" id="before-content">
    <div class="line-shadow"></div>
    <img alt="" src="{$BASEURL}resource/doc/images/page-header2.png">    
    <div class="title-and-desc ">
        <h1 class="pagetitle">Project</h1><div class="pagedesc"><span>Migunani lan mberkahi tumraping liyan <br />
                (Helping and Blessing others)</span></div>    
    </div><!-- title and desc -->
</div>
<div id="content">
    <div id="main">
        <div class="full" id="maincontent">
            <h2>This is our best project</h2>
            <p>Sed lacus nisi, faucibus ut pharetra a, rutrum vitae ligula. Pellentesque ultricies consectetur mauris eu consequat. Vivamus eu ante erat, et hendrerit ante. Aenean lacinia aliquam tempus. Cum sociis natoque penatibus.</p>
            <div class="clear"></div><!-- clear float --> 
        </div>
        <div class="search">
            <table width="100%" class="table-search">
                <tbody>
                    <!--                <form action="{$BASEURL}index.php/public/project/ajax_category" method="POST" name="category" id="category">-->
                <form action="project/ajax_category" method="POST" name="category" id="category">
                    <tr class="headrow">
                        <th colspan="3" >Search Project</th> 
                    </tr>
                    <tr>
                        <td width="150px" class="txt-label-search"><b>Project Type</b></td>
                        <td>
                            <select style="width:150px;" name="project_type" class="search_by">
                                {foreach from=$rs_project_cat item=project_cat}
                                <option value="{$project_cat.cat_id|default:""}">{$project_cat.cat_name|default:""}</option>
                                {/foreach}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="150px" class="txt-label-search"><b>Client</b></td>
                        <td>
                            <select style="width:150px;" name="client" class="search_by">
                                {foreach from=$rs_client item=client}
                                <option value="{$client.client_id|default:""}">{$client.client_name|default:""}</option>
                                {/foreach}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="150px" class="txt-label-search"><b>Year</b></td>
                        <td>
                            <select style="width:150px;"name="year" class="sort_by">
                                {foreach from=$rs_year item=year}
                                <option value="{$year.year|default:""}">{$year.year|default:""}</option>
                                {/foreach}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input type="submit" value="Search" id="submit_btn" class="button" name="submit">
                        </td>
                    </tr>
                </form>
                </tbody>
            </table>
        </div>
        <div class="full" id="maincontent">
            <div id="toggle">
                {foreach from=$rs_project item=project}
                <h2 class="trigger"><span>{$project.project_title|default:""}</span></h2>
                <div class="toggle_container">
                    <div>
                        <p>{$project.project_content|default:""}</p>
                    </div>
                    <div class="more">
                        <a href='{$url_client}/detail/{$project.project_id|default:""}'>Readmore</a>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>
                            
                            