<div class="useimage" id="before-content">
    <div class="line-shadow"></div>
    <img alt="" src="{$BASEURL}resource/doc/images/page-header3.png">   
    <div class="title-and-desc ">
        <h1 class="pagetitle">Quality Of Performance</h1><div class="pagedesc">How We Work ?</div>    
    </div><!-- title and desc -->
</div>
<div id="content">
    <div id="main">
        <div class="full" id="maincontent">
            {foreach from=$rs_quality item=quality}
            <div class="post">
                <div class="imgframe">
                    <img alt="" src="{$BASEURL}resource/doc/images/post{$quality.page_id}.png">
                </div>
                <div class="entry-content">
                    <h2 class="posttitle"><a href="#">{$quality.page_title}</a></h2>
                    <p>{$quality.page_content|default:''}</p>

                    <div class="quality">
                        Posted by <a href="#">Admin </a>&nbsp;|&nbsp;on {$quality.mdd|date_format:'%d %B %Y'} &nbsp;|&nbsp;<a class="more" href="#">Read More</a>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="clear"></div>
            </div>
            {/foreach}
        </div>
        <div class="clear"></div>
    </div>
</div>