<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name='description' content='' />
        <meta name='keywords' content='' />
        <meta name='robots' content='index,follow' />
        <title>Migunani -  lan Mberkahi Tumraping Liyan</title>
        <link href="{$BASEURL}/resource/doc/images/favicon.png" rel="SHORTCUT ICON" />

        <!-- themes style -->
        <link rel="stylesheet" type="text/css" href="{$THEMESPATH}" media="screen" />
        <!-- other style -->
        {$LOAD_STYLE}
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!-- load javascript -->
        {$LOAD_JAVASCRIPT}
        <!-- end of javascript	-->

        <script type="text/javascript">
            $(document).ready(function() {
                $("ul.sf-menu").supersubs({
                    minWidth: 13, // minimum width of sub-menus in em units
                    maxWidth: 27, // maximum width of sub-menus in em units
                    extraWidth: 1     // extra width can ensure lines don't sometimes turn over
                            // due to slight rounding differences and font-family
                }).superfish();  // call supersubs first, then superfish, so that subs are
                // not display:none when measuring. Call before initialising
                // containing tabs for same reason.
            });
        </script>
        <div id="common">
            <div id="container">
                <div id="header">
                    <div id="logo">
                        <a href="#"><img alt="" src="{$BASEURL}resource/doc/images/migunani-header.png">
                        </a>
                    </div>
                    <div id="nav">
                        <div id="sn"> 
                            <ul class="sn">
                                <li><a href="#"><span style="background-image:url(images/social/facebook.png)" class="icon-img"></span></a></li>
                                <li><a href="#"><span style="background-image:url(images/social/linkedin.png)" class="icon-img"></span></a></li>
                                <li><a href="#"><span style="background-image:url(images/social/flickr.png)" class="icon-img"></span></a></li>
                                <li><a href="#"><span style="background-image:url(images/social/yahoo.png)" class="icon-img"></span></a></li>
                                <li><a href="#"><span style="background-image:url(images/social/twitter.png)" class="icon-img"></span></a></li>
                            </ul>                
                        </div>
                        <ul class="sf-menu sf-js-enabled sf-shadow" id="topnav">
                            <li><a {if $url eq 'home'}class="current"{/if} href="{$home_url}">Home</a></li>
                            <li><a {if $url eq 'aboutus'}class="current"{/if}href="{$about_us_url}">About Us<span class="sf-sub-indicator"> »</span><span class="sf-sub-indicator"> »</span></a></li>
                            <li><a {if $url eq 'contact'}class="current"{/if}href="{$contact_url}">Contact Us</a></li>
                            <li><a class="sf-with-ul {if $url eq 'project'}current{/if}" href="{$project_url}">Project <span class="sf-sub-indicator"> »</span></a>
                                <ul style="float: none; width: 12em; display: none; visibility: hidden;">
                                    {foreach from=$project_cat item=project}
                                        <li style="white-space: normal; float: left; width: 100%;"><a style="float: none; width: auto;" href="{$project_url}/category/{$project.cat_name|default:""}">{$project.cat_name|default:""}</a></li>
                                    {/foreach}
                                </ul>
                            </li>                
                            <li><a {if $url eq 'personel'}class="current"{/if} href="{$personel_url}">Personnel</a></li>
                            <li><a class="sf-with-ul {if $url eq 'qualityofperformancecurrent'}current{/if}" href="{$quality_of_performance_url}">Quality Of Performance <span class="sf-sub-indicator"> »</span></a>
                                <ul style="float: none; width: 12em; display: none; visibility: hidden;">
                                    <li style="white-space: normal; float: left; width: 100%;"><a style="float: none; width: auto;" href="#">Mobile Data Collection</a></li>
                                    <li style="white-space: normal; float: left; width: 100%;"><a style="float: none; width: auto;" href="#">Collaborative Qualitative Data Analysis</a></li>
                                    <li style="white-space: normal; float: left; width: 100%;"><a style="float: none; width: auto;" href="#">Extensive Network of Researchers and Assistants</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                {include file="$template_content"}
                <div id="after-footer">
                    <div id="copyright">Copyright &copy; 2014 Migunani Mberkahi, All Right Reserved</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

    </body>
</html>
