<!-- javascript -->
<div class="head-content">
    <h3>Page - Quality Performance</h3>
    <div class="head-content-nav">
        <ul>
            <li><a href="#" class="active">List Quality</a></li>
            <li><a href="{$config->site_url({'content/page/'})}">List Category</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="5%">No</th>
        <th width="40%">Page Name</th>
        <th width="40%">Page Desc</th>
        <th width="15%"></th>
    </tr>
    <tr>
        <td align='center'>1.</td>
        <td>Mobile Data Collection</td>
        <td></td>
        <td align="center">
            <a href="{$config->site_url({'content/page/manage_quality/4/6'})}" class="button-edit">Manage</a>
        </td>
    </tr>
    <tr class="blink-row">
        <td align='center'>2.</td>
        <td>Collaborative Qualitative Data Analysis</td>
        <td></td>
        <td align="center">
            <a href="{$config->site_url({'content/page/manage_quality/5/6'})}" class="button-edit">Manage</a>
        </td>
    </tr>
    <tr>
        <td align='center'>3.</td>
        <td>Extensive Network of Researchers and Assistants</td>
        <td></td>
        <td align="center">
            <a href="{$config->site_url({'content/page/manage_quality/6/6'})}" class="button-edit">Manage</a>
        </td>
    </tr>
</table>