<!-- javascript -->
<script type="text/javascript">
    $(function() {
        document.getElementById('links').onclick = function(event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {
                index: link,
                event: event
            },
            links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    });
</script>

<div class="head-content">
    <h3>Project - {$page_cat.cat_name|default:''}</h3>
    <div class="head-content-nav">
        <ul>
            <li><a href="#" class="active">Detail Data</a></li>
            <li><a href="{$config->site_url({'content/project/add/'|cat:$page_cat.cat_id})}" ><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt=""/>Add Data</a></li>
            <li><a href="{$config->site_url({'content/project/manage/'|cat:$page_cat.cat_id})}" >List Project</a></li>
            <li><a href="{$config->site_url({'content/project/'})}">List Category</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev" style='border-radius: 0px; line-height: 40px; text-decoration: none;'>&#60;</a>
    <a class="next" style='border-radius: 0px; line-height: 40px; text-decoration: none;'>&#62;</a>
    <a class="close" style='text-decoration: none;'>&#120;</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<table class="table-view" width="100%">
    <tr class="headrow">
        <th colspan="2">Detail Data</th>
    </tr>
    <tr>
        <td width='25%'>Client</td>
        <td>
            {foreach from=$rs_client item=client}
            {if $result.client_id|default:'' == $client.client_id}{$client.client_name}{/if}
            {/foreach}
        </td>
    </tr>
    <tr>
        <td width='25%'>Title</td>
        <td width='75%'>{$result.project_title|default:''}</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>{$result.project_content|default:''}</td>
    </tr>
    <tr>
        <td>Start Date</td>
        <td>{$result.start_date|default:''|date_format:'%d %B %Y'}</td>
    </tr>
    <tr>
        <td>End Date</td>
        <td>{$result.end_date|default:''|date_format:'%d %B %Y'}</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>
            {$result.project_location|default:''}
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{if $result.active_st == '0'}Non Publish{else}Publish{/if}</td>
    </tr>
    {if !empty($rs_id)}
    <tr>
        <th colspan="2">Galery Data</th>
    </tr>
    <tr>
        <td colspan='2' >
            <div id="links">
                {foreach from=$rs_id item=result}
                <a href="{$BASEURL}resource/galery/project/{$result.project_cat}/{$result.project_id}/{$result.gal_nm}" title="{$result.gal_nm}">
                    <img src="{$BASEURL}resource/galery/project/{$result.project_cat}/{$result.project_id}/thumbnail/{$result.gal_nm}" alt="{$result.gal_nm}">
                </a>
                {/foreach}
            </div>
        </td>
    </tr>
    {/if}
</table>