<div class="head-content">
    <h3>Page Categories</h3>
    <div class="head-content-nav">
        <ul>
            <li><a href="#" class="active">Update Data</a></li>
            <li><a href="{$config->site_url('masterdata/pagecategories/')}">List Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->

<form action="{$config->site_url('masterdata/pagecategories/update_process')}" method="post">
    <input type="hidden" name="cat_id" value="{$result.cat_id|default:''}" />
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="2">Update Page Categories</th>
        </tr>
        <tr>
            <td width='25%'>Category Name *</td>
            <td width='75%'><input type="text" name="cat_name" maxlength="50" size="30" value="{$result.cat_name|default:''}" /></td>
        </tr>
        <tr>
            <td>Category Description *</td>
            <td><input type="text" name="cat_description" maxlength="100" size="100" value="{$result.cat_description|default:''}" /> </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="save" value="Simpan"/> </td>
        </tr>
    </table>
</form>